body {
  text-align: center;
  background-image: url(blue.webp);
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
}

span.display {
  display: inline-block;
}

#place {
  float: left;
  margin-left: 20%;
}
#play {
  float: right;
  margin-right: 20%;
}
h1 {
  text-align: center;
  font-size: 38px;
  color: white;
  text-shadow: 3px 3px 5px lightskyblue;
}

h3 {
  color: white;
}
h2 {
  color: white;
  text-decoration: underline;
}
p {
  color: white;
}
p.move {
  font-size: 22px;
}

nav {
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  color: red;
  text-decoration: underline;
  text-align: center;
}
#theForm {
  color: white;
  display: table;
  padding: 15px;
  background-color: transparent;
  border: solid 2px black;
  box-shadow: black;
  justify-content: center;
  margin-right: 20px;
  border-radius: 20px;
  width: 45%;
}
.row {
  display: table-row;
}

.row label {
  display: table-cell;
  padding: 2px;
  text-align: right;
}

.row input {
  display: table-cell;
  padding: 2px;
  border-radius: 20px;
  height: 30px;
  width: 300px;
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
